.row
  .col-sm-5
    %p.center
      - if params[:action] == 'edit' && @club.club_flag.file_name.present? 
        = image_tag "clubs/#{@club.club_flag.file_name}", :class => 'flag_large', :id =>"club_flag"
      - else 
        = image_tag 'clubs/default-club.png', :class => 'flag_large', :id =>"club_flag"   
  .col-sm-5
    = bv_form_for(@club) do |f|
      - if @club.errors.any?
        :javascript
          var count = "Please resolve"+' '+  #{@club.errors.count}  +' '+ "error before submitting your request." ;
            Command: toastr.warning(count);    
      - @club.errors.full_messages.each do |msg|
        :javascript
          var msg = " #{msg} ";
          toastr.options = {
            "positionClass": "toast-bottom-right"
          }
          Command: toastr.error(msg);

      = f.text_field :name, label: "Club Name", :maxlength => 30
      = f.text_field :county, label: "Club County", :maxlength => 30
      = f.collection_select :club_flag_id, ClubFlag.all, :id, :name, prompt: true
      = f.hidden_field :user_id
      = f.submit 'Submit', :class => 'btn btn-primary' 
    :Javascript
      $(document).ready(function() {
        $('#new_club').bootstrapValidator();
      });
