.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home
            Home    
        %li.active
          %a{:href => clubs_path}
            %i.fa.fa-star
            Clubs 
    / /.content-header
    %section.content
      %section.club_info_box
        %figure= image_tag "clubs/#{@club.club_flag.file_name}", :class => 'flag_small'
        %h4= @club.name
        - if current_user.present? && @club.user_id == current_user.id
          %p #{@club.county}
        - else
          %p= @club.county
      %section.box.box-default
        .box-header 
          %h3.box-title Teams     
        .box-body
          - if @club.teams.exists?
            .table-responsive 
              %table.table.table-bordered.table-condensed
                %thead.team_head
                  %tr
                    %th Name
                    %th City
                    %th Club
                    %th User
                    - if current_user.present? && @club.teams.select {|c| c.user_id == current_user.id}
                      %th
                %tbody    
                  - @club.teams.each do |team|
                    %tr
                      %td #{image_tag "teams/#{team.team_flag.file_name}", :class => 'flag_icon'} &nbsp; #{link_to "#{team.name}", team, :title => "View team"}
                      %td= team.city
                      %td= team.club.name
                      %td= team.user.name
                      - if current_user.present? && team.user_id == current_user.id
                        %td.center
                          = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_team_path(team), :class => 'btn btn-xs btn-flat btn-warning', :title => "Edit team"
                          = link_to '<i class="fa fa-trash-o"></i>'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-danger', :title => "Remove team"
      %p
        = link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, clubs_path, :class => "btn btn-default", :title => "Back to Clubs"
        = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_club_path(@club), :class => "btn btn-warning", :title => "Edit club"
      %br    