.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Manage Clubs
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home   
        %li.active
          %a{:href => clubs_path}
            %i.fa.fa-star
            Clubs 
    / /.content-header
    %section.content
      %section.club_info_box
        %figure= image_tag "clubs/#{@club.club_flag.file_name}", :class => 'flag_small img-thumbnail-square'
        %h4= @club.name
        %p= @club.county
      %section.box.box-default
        .box-header 
          .pull-right.box-tools
            - if current_user
              = link_to 'New Team', '#new_team_modal', 'data-toggle' => 'modal', :class => 'btn btn-success btn-flat pull-right'
            - else 
              = link_to 'New Team', new_user_session_path, :class => 'btn btn-success btn-flat pull-right'
            #new_team_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                    %h4#myModalLabel.modal-title Create new Team
                  .modal-body
                    = render 'team_form', modal: true, club: @club.id
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close                      
          %h3.box-title Teams     
        .box-body
          - if @club.teams.exists?
            .table-responsive 
              %table.table.table-bordered.table-condensed
                %thead.team_head
                  %tr
                    %th Name
                    %th City
                    %th Club
                    %th
                %tbody    
                  - @club.teams.each do |team|
                    %tr
                      %td #{image_tag "teams/#{team.team_flag.file_name}", :class => 'flag_icon'} &nbsp; #{link_to "#{team.name}", team, :title => "View team"}
                      %td= team.city
                      %td= team.club.name
                      %td.center
                        - if current_user.present? && team.user_id == current_user.id
                          = link_to '<i class="fa fa-trash-o"></i>'.html_safe, team_path(team, "show"=>"club_show"), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-danger', :title => "Remove team"
      %p
        = link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, clubs_path, :class => "btn btn-default", :title => "Back to Clubs"
      %br    