= bootstrap_nested_form_for(@team, inline_errors: false) do |f|
  - if @team.errors.any?
    :javascript
      var count = "Please resolve"+' '+  #{@team.errors.count}  +' '+ "error before submitting your request." ;
        Command: toastr.warning(count);    
  - @team.errors.full_messages.each do |msg|
    :javascript
      var msg = " #{msg} ";
      Command: toastr.error(msg);
  .row
    .col-sm-6
      %p.center
        - if params[:action] == 'edit' && @team.team_flag.file_name.present? 
          = image_tag "teams/#{@team.team_flag.file_name}", :class => 'flag_large', :id =>"team_flag"
        - else
          = image_tag 'teams/default-team.png', :class => 'flag_large', :id =>"team_flag" 
    .col-sm-6
      = f.text_field :name, label: "Team Name", :maxlength => 30
      = f.text_field :city, label: "Team City", :maxlength => 30
      = f.collection_select :team_flag_id, TeamFlag.all, :id, :name, prompt: true
      - if Club.where(:user_id => current_user.id).exists?
        = f.collection_select :club_id, Club.where(:user_id => current_user.id), :id, :name, prompt: true
      - else
        .callout.callout-warning 
          %h4 Oh Snap! No clubs found, Please add new club to continue! #{link_to 'New Club', new_club_path, :class => 'btn btn-xs btn-success btn-flat'}
      = f.hidden_field :user_id

  .row
    .col-lg-12
      = f.fields_for :players, inline_errors: false do |builder|
        = render 'player_fields', f: builder
      %p
        = link_to_add_fields '<i class="fa fa-fw fa-plus-square"></i> Player'.html_safe, f, :players
      %hr
      = f.submit 'Submit', :class => 'btn btn-primary pull-right' 

