= bv_form_for(@team) do |f|
  .row
    .col-sm-5
      %p.center
        = image_tag 'teams/default-team.png', :class => 'flag_large', :id =>"team_flag" 
    .col-sm-5
      = f.input :name, label: "Team Name", :maxlength => 30, required: true
      = f.input :city, label: "Team City", :maxlength => 30, required: true
      = f.association :team_flag, required: true, prompt: true
      = f.association :club, required: true, prompt: true
      = f.hidden_field :user_id

      %hr
      = f.submit 'Submit', :class => 'btn btn-primary pull-right' 
    :Javascript
      $(document).ready(function() { 
        $(document).bind('ajaxError', 'form#new_team', function(event, jqxhr, settings, exception){

          // note: jqxhr.responseJSON undefined, parsing responseText instead
          $(event.data).render_form_errors( $.parseJSON(jqxhr.responseText) );

        });

        $('#new_team')
            .bootstrapValidator()
              .on('success.form.bv', function(e) {
                  // Called when the form is valid
                  var $form = $(e.target);
                  if ($form.data('remote')) {
                      e.preventDefault();
                      return false;
                  }
              })
              .on('submit', function(e) {
                  var $form = $(e.target);
                  if ($form.data('remote')) {
                      var numInvalidFields = $form.data('bootstrapValidator').getInvalidFields().length;
                      if (numInvalidFields) {
                          e.preventDefault();
                          return false;
                      }
                  }
              });
      });