= simple_form_for(@team, html: {class: 'bv_form'}) do |f|
  .row
    .col-sm-5
      %p.center
        = image_tag 'teams/default-team.png', :class => 'flag_large', :id =>"team_flag" 
    .col-sm-5
      = f.input :name, label: "Team Name", :maxlength => 30, required: true
      = f.input :city, label: "Team City", :maxlength => 30, required: true
      = f.association :team_flag, required: true, prompt: true
      = f.association :club, required: true, prompt: true
      = f.hidden_field :user_id

      %hr
      = f.submit 'Submit', :class => 'btn btn-primary pull-right' 
= bv_javascript_for @team