%aside
  #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
    .list-group
      = link_to 'Home <i class="fa fa-home pull-right"></i>'.html_safe, root_path, :class => 'list-group-item'
      = link_to 'Clubs <i class="fa fa-star pull-right"></i> '.html_safe, clubs_path, :class => 'list-group-item'
      = link_to 'Teams <i class="fa fa-flag pull-right"></i> '.html_safe, teams_path, :class => 'list-group-item active'
      = link_to 'Matches <i class="fa fa-maxcdn pull-right"></i>'.html_safe, ('#'), :class => 'list-group-item'
      = link_to 'Players <i class="fa fa-group pull-right"></i>'.html_safe, ('#'), :class => 'list-group-item'