.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Manage Teams
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home   
        %li.active
          %a{:href => teams_path}
            %i.fa.fa-flag
            Teams
    / /.content-header
    %section.content
      .box.box-solid.box-danger
        .box-header
          %h3.box-title Teams      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-condensed{id: 'teams'}
              %thead.team_head
                %tr
                  %th Name
                  %th City
                  %th Club
                  %th 
              %tbody    
                - @teams.each do |team|
                  %tr
                    %td #{image_tag "teams/#{team.team_flag.file_name}", :class => 'flag_icon'} &nbsp; #{link_to "#{team.name}", team, :title => "View team" }
                    %td= team.city
                    %td= team.club.name
                    %td.center
                      - if current_user.present? && team.user_id == current_user.id  
                        = link_to '<i class="fa fa-trash-o"></i>'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-danger', :title => "Remove team" 
      %br  