.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li.active
          %a{:href => root_path}
            %i.fa.fa-home
            Home     
    / /.content-header
    %section.content
      %section.box.box-default
        .box-header
          %h3.box-title Edit User     
        .box-body 
          .row
            .col-lg-6
              = bootstrap_form_for(@user, inline_errors: false) do |f|
                - if @user.errors.any?
                  - @user.errors.full_messages.each do |msg|
                    :javascript
                      var msg = " #{msg} ";
                      Command: toastr.error(msg);

                = f.text_field :name, label: "Full Name", prepend: "<i class='fa fa-user'></i>".html_safe, required: true
                = f.email_field :email, prepend: "<i class='fa fa-envelope-o'></i>".html_safe, required: true  

                = f.submit 'Update User', :class => 'btn bg-navy'
      %br