%tr
  %td= link_to "#{venue.name}", venue, :remote => true                   
  %td= venue.address
  %td= venue.city
  %td= venue.county_or_state
  %td= venue.country
  %td.center
    - if current_user && current_user.id == venue.user_id 
      = link_to '<i class="fa fa-trash-o"></i>'.html_safe, venue, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-danger', :title => "Remove venue"