.table-responsive 
  %table.table.table-bordered.table-striped
    %thead.venue_head
      %tr
        %th Name
        %td= @venue.name
      %tr
        %th Address
        %td= @venue.address
      %tr
        %th City
        %td= @venue.city
      %tr
        %th County or State
        %td= @venue.county_or_state                    
      %tr
        %th Country
        %td= @venue.country
