.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home
            Home    
        %li.active
          %a{:href => venues_path}
            %i.fa.fa-umbrella
            Venues
    / /.content-header
    %section.content
      .box.box-default
        .box-header
          .pull-right.box-tools
            = link_to 'New Venue', '#new_venue_modal', 'data-toggle' => 'modal', :class => 'btn btn-success btn-flat pull-right'
            #new_venue_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                    %h4#myModalLabel.modal-title Create new venue
                  .modal-body
                    = render 'form', modal: true
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %h3.box-title Venues      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-condensed{id: 'venues'}
              %thead.venue_head
                %tr
                  %th Name
                  %th Address
                  %th City
                  %th County or state
                  %th Country
                  %th
              %tbody    
                - @venues.each do |venue|
                  = render partial: 'table_row', locals: {venue: venue}
                  
        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "venue_show", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h4#myModalLabel.modal-title Venue
              .modal-body
                
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close    
      %br  
:Javascript
  $(document).ready(function(){

    $(document).bind('ajaxError', 'form#new_venue', function(event, jqxhr, settings, exception){

      // note: jqxhr.responseJSON undefined, parsing responseText instead
      $(event.data).render_form_errors( $.parseJSON(jqxhr.responseText) );

    });

  });

  (function($) {

    $.fn.modal_success = function(){
      // close modal
      this.modal('hide');

      // clear form input elements
      // todo/note: handle textarea, select, etc
      this.find('form input[type="text"]').val('');

      // clear error state
      this.clear_previous_errors();

      // reload page 
      location.reload();
    };

    $.fn.render_form_errors = function(errors){

      $form = this;
      this.clear_previous_errors();
      model = this.data('model');

      // show error messages in input form-group help-block
      $.each(errors, function(field, messages){
        $input = $('input[name="' + model + '[' + field + ']"]');
        $input.closest('.form-group').addClass('has-error').find('.help-block').html( messages.join(' & ') );
      });

    };

    $.fn.clear_previous_errors = function(){
      $('.form-group.has-error', this).each(function(){
        $('.help-block', $(this)).html('');
        $(this).removeClass('has-error');
      });
    }

  }(jQuery));                          