.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home
            Home    
        %li.active
          %a{:href => umpires_path}
            %i.ion.ion-android-contacts
            Umpires
    / /.content-header
    %section.content
      .box.box-default
        .box-header
          .pull-right.box-tools
            - if current_user
              = link_to 'New Umpire', '#new_umpire_modal', 'data-toggle' => 'modal', :class => 'btn btn-success btn-flat pull-right'
            #new_umpire_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                    %h4#myModalLabel.modal-title Create new umpire
                  .modal-body
                    = render 'form', modal: true
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

          %h3.box-title Umpires      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-condensed{id: 'umpires'}
              %thead.umpire_head
                %tr
                  %th
                  %th First name
                  %th Last name
                  %th Remove   
              %tbody    
                - @umpires.each do |umpire|
                  = render partial: 'table_row', locals: {umpire: umpire}

        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "umpire_show", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h4#myModalLabel.modal-title Venue
              .modal-body
                
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close  
      %br  
:Javascript
  $(document).ready(function(){
    
    $(document).bind('ajaxError', 'form#new_umpire', function(event, jqxhr, settings, exception){

      // note: jqxhr.responseJSON undefined, parsing responseText instead
      $(event.data).render_form_errors( $.parseJSON(jqxhr.responseText) );

    });

  });

  (function($) {

    $.fn.modal_success = function(){
      // close modal
      this.modal('hide');

      // clear form input elements
      // todo/note: handle textarea, select, etc
      this.find('form input[type="text"]').val('');

      // clear error state
      this.clear_previous_errors();

      // reload the current page in order to Datatable work properly.  
      location.reload();

    };

    $.fn.render_form_errors = function(errors){

      $form = this;
      this.clear_previous_errors();
      model = this.data('model');

      // show error messages in input form-group help-block
      $.each(errors, function(field, messages){
        $input = $('input[name="' + model + '[' + field + ']"]');
        $input.closest('.form-group').addClass('has-error').find('.help-block').html( messages.join(' & ') );
      });

    };

    $.fn.clear_previous_errors = function(){
      $('.form-group.has-error', this).each(function(){
        $('.help-block', $(this)).html('');
        $(this).removeClass('has-error');
      });
    }

  }(jQuery)); 