.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Manage Players
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home  
        %li.active
          %a{:href => players_path}
            %i.fa.fa-group
            Players
    / /.content-header
    %section.content
      .box.box-default
        .box-header
          %h3.box-title Editing player      
        .box-body  
          = render 'form'
        .box-footer
          %p
            = link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, players_path, :class => "btn btn-default", :title => "Back to players"
            = link_to '<i class="fa fa-eye"></i>'.html_safe, @player, :class => "btn bg-maroon", :title => "View player" 
      %br
