.col-xs-12.col-sm-9
  %section.box.box-default
    .box-header
      %h3.box-title Players     
    .box-body  
      .table-responsive 
        %table.table.table-bordered.table-condensed{id: 'players'}
          %thead.team_head
            %tr
              %th 
              %th Name
              %th Age
              %th Type
              %th Batting style
              %th Blowing style
              %th Team
              - if current_user.present? && @players.select {|c| c.user_id == current_user.id}
                %th
          %tbody    
            - @players.each do |player|
              %tr
                - if player.picture_url?
                  %td #{image_tag player.picture_url, :class => 'player_pic_small'}
                - else
                  %td #{image_tag "player_default_pic.png", :class => 'player_pic_small'}                  
                %td= link_to "#{player.name}", player 
                %td= player.age(player.date_of_birth) if player.date_of_birth?
                %td= player.player_type.name
                %td= player.player_batting_style
                %td= player.player_blowing_style.name
                %td= player.team.name               
                - if current_user.present? && team.user_id == current_user.id
                  %td
                    = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_team_path(team), :class => 'btn btn-xs btn-flat btn-default', :title => "Edit this team" 
                    = link_to '<i class="fa fa-trash-o"></i>'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-flat btn-default', :title => "Remove this team" 

= render 'sidenavbar'  


  - @players.each do |player|
    %tr
      %td= player.name
      %td= player.player_batting_style
      %td= player.best_performance
      %td= player.worst_performance
      %td= player.picturl_url
      %td= player.team_id
      %td= player.user_id
      %td= player.player_type_id
      %td= player.player_blowing_style_id
      %td= player.date_of_birth
      %td= player.odi_debut
      %td= player.test_debut
      %td= player.t20_debut
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

