.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Manage Players
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home    
        %li.active
          %a{:href => players_path}
            %i.fa.fa-group
            Players
    / /.content-header
    %section.content
      .box.box-default
        #box.box
          .space
          .icon
            .image
              - if @player.picture_url.blank?
                %td= image_tag "player_default_pic.png", :class => "player_pic_small"
              - else
                %td= image_tag @player.picture_url, :class => "player_pic_small"
            .info
              %h3.title= @player.name
        
        .box-body
          .board
            .board-inner
              %ul#myTab.nav.nav-tabs
                .liner
                %li.active
                  %a{"data-toggle" => "tab", :href => "#bio", :title => "Player Information"}
                    %span.round-tabs.one
                      %i.fa.fa-user
                %li
                  %a{"data-toggle" => "tab", :href => "#t20", :title => "T20 Statistics"}
                    %span.round-tabs.two
                      T20
                      / <i class="glyphicon glyphicon-user"></i>
                %li
                  %a{"data-toggle" => "tab", :href => "#odi", :title => "ODI Statistics"}
                    %span.round-tabs.three
                      ODI
                      / <i class="glyphicon glyphicon-gift"></i>
                %li
                  %a{"data-toggle" => "tab", :href => "#test", :title => "Test Statistics"}
                    %span.round-tabs.four
                      Test
                      / <i class="glyphicon glyphicon-comment"> Test</i>
                %li
                  %a{"data-toggle" => "tab", :href => "#comment", :title => "Comments"}
                    %span.round-tabs.five
                      %i.fa.fa-comments
            .tab-content
              #bio.tab-pane.fade.in.active
                %section.narrow
                  %h3.bg-green Player Information
                  %table.table.table-bordered
                    %tbody
                      %tr
                        %td Title
                        %td= @player.player_type.name
                      %tr
                        %td Age
                        %td= @player.age(@player.date_of_birth) if @player.date_of_birth?
                      %tr
                        %td Played for
                        %td= @player.team.name
                      %tr
                        %td Batting Style
                        %td= @player.player_batting_style
                      %tr
                        %td Bowling Style
                        %td= @player.player_bowling_style.name
                      %tr
                        %td Played For
                        %td= @player.team.name
              #t20.tab-pane.fade
                %section.narrow
                  %h3.bg-yellow Player T20 Statistics
                  .text-center
                    %p 
                      Debut: 
                      - if @player.t20_debut?
                        %span.label.label-success 
                          #{@player.t20_debut.to_formatted_s(:long)}   
                    %p 
                      Matches Played: 
                      %span.label.label-success 
                        #{t20_matches(@player.id)}
                  .col-sm-6
                    %h5 Batting
                    %table.table.table-bordered
                      %tbody                
                        %tr
                          %td Innings
                          %td= t20_bt_innings(@player.id)
                        %tr
                          %td Runs
                          %td= t20_bt_runs(@player.id)
                        %tr
                          %td Not out
                          %td= t20_bt_not_out(@player.id)
                        %tr
                          %td Average
                          %td= t20_bt_average(@player.id)
                        %tr
                          %td Best Performance
                          %td= t20_best_batting(@player.id)
                  .col-sm-6
                    %h5 Bowling
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td Innings
                          %td= t20_bl_innings(@player.id)
                        %tr
                          %td Balls
                          %td= t20_bl_balls(@player.id)
                        %tr
                          %td Runs
                          %td= t20_bl_runs(@player.id)
                        %tr
                          %td Wickets
                          %td= t20_bl_wickets(@player.id)
                        %tr
                          %td Best Performance
                          %td= t20_best_bowling(@player.id)
              #odi.tab-pane.fade
                %section.narrow
                  %h3.bg-navy Player ODI Statistics
                  .text-center
                    %p 
                      Debut: 
                      - if @player.odi_debut?
                        %span.label.label-success 
                          #{@player.odi_debut.to_formatted_s(:long)}             
                    %p 
                      Matches Played: 
                      %span.label.label-success 
                        #{odi_matches(@player.id)}
                  .col-sm-6
                    %h5 Batting
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td Innings
                          %td= odi_bt_innings(@player.id)
                        %tr
                          %td Runs
                          %td= odi_bt_runs(@player.id)
                        %tr
                          %td Not out
                          %td= odi_bt_not_out(@player.id)
                        %tr
                          %td Average
                          %td= odi_bt_average(@player.id)
                        %tr
                          %td Best Performance
                          %td= odi_best_batting(@player.id)
                  .col-sm-6
                    %h5 Bowling
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td Innings
                          %td= odi_bl_innings(@player.id)
                        %tr
                          %td Balls
                          %td= odi_bl_balls(@player.id)
                        %tr
                          %td Runs
                          %td= odi_bl_runs(@player.id)
                        %tr
                          %td Wickets
                          %td= odi_bl_wickets(@player.id)
                        %tr
                          %td Best Performance
                          %td= odi_best_bowling(@player.id)
              #test.tab-pane.fade
                %section.narrow
                  %h3.bg-red Player Test Statistics
                  .text-center
                    %p 
                      Debut: 
                      - if @player.test_debut?
                        %span.label.label-success 
                          #{@player.test_debut.to_formatted_s(:long)}             
                    %p 
                      Matches Played: 
                      %span.label.label-success 
                        #{test_matches(@player.id)}                
                  .col-sm-6
                    %h5 Batting
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td Innings
                          %td= test_bt_innings(@player.id)
                        %tr
                          %td Runs
                          %td= test_bt_runs(@player.id)
                        %tr
                          %td Not out
                          %td= test_bt_not_out(@player.id)
                        %tr
                          %td Average
                          %td= test_bt_average(@player.id)
                        %tr
                          %td Best Performance
                          %td= test_best_batting(@player.id)
                  .col-sm-6
                    %h5 Bowling
                    %table.table.table-bordered
                      %tbody
                        %tr
                          %td Innings
                          %td= test_bl_innings(@player.id)
                        %tr
                          %td Balls
                          %td= test_bl_balls(@player.id)
                        %tr
                          %td Runs
                          %td= test_bl_runs(@player.id)
                        %tr
                          %td Wickets
                          %td= test_bl_wickets(@player.id)
                        %tr
                          %td Best Performance
                          %td= test_best_bowling(@player.id)
              #comment.tab-pane.fade
                %section.narrow
                  / Chat box
                  - if @player.comments.any?
                    .box.box-solid.box-success
                      .box-header
                        %i.fa.fa-comments-o
                        %h3.box-title Comments
                      #chat-box.box-body.chat
                        = render partial: 'comments/comment', collection: @player.comments

                  / /.box (chat box)
                  / quick email widget
                  .box.box-solid.box-primary
                    .box-header
                      %i.fa.fa-comment-o
                      %h3.box-title Leave a comment
                    .box-body
                      = render partial: 'comments/form'
              .clearfix
        .box-footer
          %p
            = link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, players_path, :class => "btn btn-default", :title => "Back to Players"
            - if current_user.present? && @player.user_id == current_user.id
              = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_player_path(@player), :class => 'btn btn-default', :title => "Edit player"
            
      %br