.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Manage Matches
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home  
        %li.active
          %a{:href => matches_path}
            %i.fa.fa-maxcdn
            Matches
    / /.content-header
    %section.content
      .box.box-solid.box-success
        .box-header
          %h3.box-title Matches      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-condensed{id: 'umpires'}
              %thead.umpire_head
                %tr
                  %th Competition
                  %th Competition type
                  %th Series
                  %th Venue
                  %th Team won toss
                  %th Team choose to
                  %th Start date
                  %th Competition overs
                  %th
              %tbody    
                - @matches.each do |match|
                  %tr
                    %td 
                      %span.label.label-success #{match.team_a.name} 
                      %span.badge.bg-navy vs 
                      %span.label.label-success #{match.team_b.name}
                    %td= match.competition_type.name
                    %td= match.series.name
                    %td= match.venue.name
                    %td= match.team_won_toss
                    %td= match.team_choose_to
                    %td= match.start_date
                    %td= match.competition_overs_limit.overs
                    %td
                      = link_to '<i class="fa fa-eye"></i>'.html_safe, match, :title => "View Scorecard", :class => "btn btn-sm btn-default"
                      = link_to '<i class="fa fa-trash-o"></i>'.html_safe, match, :method => :delete, :data => { :confirm => 'By deleting this match will also delete all of the match details including scorecard and players stats. Are you sure you want to delete?' }, :title => "Remove Match", :class => 'btn btn-sm btn-danger'

      %br 
