%h1 Listing series

%table
  %tr
    %th Name
    %th Start date
    %th End date
    %th
    %th
    %th

  - @series.each do |series|
    %tr
      %td= series.name
      %td= series.start_date
      %td= series.end_date
      %td= link_to 'Show', series
      %td= link_to 'Edit', edit_series_path(series)
      %td= link_to 'Destroy', series, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Series', new_series_path
