.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home
            Home    
        %li.active
          %a{:href => series_index_path}
            %i.fa.fa-trophy
            Series
    / /.content-header
    %section.content
      .box.box-default
        .box-header
          .pull-right.box-tools
            - if current_user
              = link_to 'New Series', '#new_series_modal', 'data-toggle' => 'modal', :class => 'btn btn-success btn-flat pull-right'
            #new_series_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                    %h4#myModalLabel.modal-title Create new club
                  .modal-body
                    = render 'form', modal: true
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %h3.box-title Series      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-condensed{id: 'series'}
              %thead.series_head
                %tr
                  %th Name
                  %th Start date
                  %th End date
                  %th
              %tbody    
                - @series_all.each do |series|
                  %tr
                    %td= link_to "#{series.name}", series, :title => "View series" 
                    %td= series.start_date
                    %td= series.end_date
                    %td.center
                      - if current_user.present? && series.user_id == current_user.id
                        = link_to '<i class="fa fa-trash-o"></i>'.html_safe, series, method: :delete, data: { confirm: 'This series may have one or more match assigned and by deleting this series will also delete all the matches which are assigned to this series. Are you sure you want to delete?' }, :class => 'btn btn-xs btn-flat btn-danger', :title => "Remove series" 
      %br  