.wrapper.row-offcanvas.row-offcanvas-left
  / Left side column. contains the logo and sidebar
  %aside.left-side.sidebar-offcanvas
    = render 'sidenavbar'
  / Right side column. Contains the navbar and content of the page
  %aside.right-side
    %header.row
      %section.jumbotron.top-header
        %figure
          = image_tag 'logo.png', :alt => "logo", :class => "header_image_responsive" 
    %section.content-header     
      %h1 Home
      %ol.breadcrumb
        %li
          %a{:href => root_path}
            %i.fa.fa-home
            Home    
        %li.active
          %a{:href => series_index_path}
            %i.fa.fa-trophy
            Series
    / /.content-header
    %section.content
      .box.box-default
        .box-header
          %h3.box-title Series Details      
        .box-body  
          .table-responsive 
            %table.table.table-bordered.table-striped
              %thead.umpire_head
                %tr
                  %th Name
                  %td= @series.name
                %tr
                  %th Start Date
                  %td= @series.start_date
                %tr
                  %th End Date
                  %td= @series.end_date
          %br
      
      .box.box-info
        .box-header
          .pull-right.box-tools
            - if current_user
              = link_to 'New Match', '#new_match_modal', 'data-toggle' => 'modal', :class => 'btn btn-success btn-flat pull-right'
              #new_match_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                      %h4#myModalLabel.modal-title Create New Match
                    .modal-body
                      = render 'match_form', modal: true, series: @series.id
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close        
          %h3.box-title Series Matches     
        .box-body  
          - @series.matches.each_with_index do |m, index|
            .row.match-event-box 
              .col-md-1.matchNumber= index+1            
              .col-md-5.matchCompetitors 
                %h4 #{link_to "#{m.team_a.name}", team_path(m.team_a.id), :title => "View team" }
                .teamLogos #{image_tag "teams/#{m.team_a.team_flag.file_name}", :class => 'flag_small'}
                %h5 vs
                .teamLogos #{image_tag "teams/#{m.team_b.team_flag.file_name}", :class => 'flag_small'}                
                %h4 #{link_to "#{m.team_b.name}", team_path(m.team_b.id), :title => "View team" }
              .col-md-5.matchDetails
                %h4 #{m.team_won_toss} won the toss and decided to #{m.team_choose_to} first!             
                %span= link_to 'Scorecard'.html_safe, series_index_path, :class => "btn btn-default", :title => "Back to series"
                %span= link_to '<i class="fa fa-fw fa-arrow-circle-left"></i>'.html_safe, series_index_path, :class => "btn btn-default", :title => "Back to series"
      %br 
      = link_to '<i class="fa fa-fw fa-arrow-circle-left"></i>'.html_safe, series_index_path, :class => "btn btn-default", :title => "Back to series"